data/*
lib/*
modules/*

!/data/cell/.gitkeep
!/data/player/.gitkeep
!/data/world/.gitkeep
!/data/pluginlist.example.json
!/data/pluginlist.json

!/modules/ChatChannels
!/modules/Core
!/modules/TimeNWeather

!/lib/lua
!lib/.gitkeep
